body {
    font-family: 'Arial', sans-serif;
    background-color: silver; /* Set a light background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.button-container {
    position: absolute;
    text-align: center;
    z-index: 999;
}
h1 {
    position: absolute;
    z-index: 1001;
    color: azure;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
}

.frame {
    position: fixed; /* Use 'fixed' instead of 'absolute' for a fixed position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    border: none;
    width: 190vh;
    height: 95vh;
}
.big-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 8px;
    background-color: grey;
    color: black;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    margin-bottom: 20px; /* Add margin between buttons */
}

.big-button:hover {
    background-color: black;
    color: white;
    border: 2px solid grey;
}
.pointer-events-none {
    pointer-events: none;
}