body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-image: url(./wall.jpg);
  background-size: cover;
}
#board {
    position: absolute;
    left: 50vh;
    top: 30vh;
    border: 1px solid #000;
}